@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
    background-color: #38f590;
}
body > header > p {
    font-family: 'Poppins', sans-serif;
    text-indent: 2%;
}
body > main > p {
    font-family: 'Poppins', sans-serif;
    text-indent: 2%;
}
body > footer > p {
    font-family: 'Poppins', sans-serif;
    text-indent: 2%;
}
header {
    background-image: linear-gradient(to top, #417a5c, #7bd52b);
    padding: 2%;
    box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 0.432);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
   
}
header > h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: -2% auto 2% auto;
}
header > p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.1em;
}
header > h3 {
    margin-left: -1%;
    display: inline-block;
    padding-right: 5%;
    margin-bottom: 0px;
}
header > h3:hover {
    background-color: #6ec52193;
    background-clip: content-box;
}
header > h3 > a{
    color:white;
    text-decoration: none;
}

main {
    background-color: white;
    margin: 13% 20% 20% 20%;
    border-top: 10;
    
}
main > h1{
    font-family: 'Audiowide', cursive;
    color: rgb(48, 193, 48);
}
main > h2{
    font-family: 'Audiowide', cursive;
    color: rgb(48, 193, 48);
}
main > img#irina {
    width: 100%;
}
main > img#bugdroid {
    width: 30%;
    height: 50%;
    padding-left: 30%;
    background-color: rgb(255, 255, 255);
    background-clip: content-box;
}
main > img#android1 {
    image-orientation: inherit;
    max-width: 90%;
}
main > p#inkscape >a:hover {
    background-color: rgb(16, 228, 16);
}
main > p#inkscape > a {
    text-decoration: none;
    color: blueviolet;
}
main > p#irina > a {
    text-decoration: none;
    color: blueviolet;
}
main > p#irina > a:hover {
    background-color: #7bd52b;
}

iframe {
    padding: 4% 5% 4% 5%;
    height: 25em;
    width: 90%;
    background-color: rgb(4, 90, 48);
    border-bottom: 10px;
}
footer {
    background-color: white;
    margin: -0.5% 13% 24% 20%;
    height: 150%;
    width: 60%;
    padding-top: 1%;
}
footer > h3 {
    color: white;
    background-color: rgb(15, 184, 103);
    border-radius: 17px 17px 1px 1px;
    width: 79%;
    margin-left: 5.5%;
    display: flex;
    padding: 2% 4% 3% 6%;;
    margin-bottom: 0%;
}
footer > pre {
    background-color: wheat;
    background-clip: content-box;
    display: flex;
    margin-top: -3%;
    margin-left: 4.5%;
    margin-bottom: 0%;
    width: 89%;
    height: 16%;
    padding: 1% 1% 0% 1%;
    flex-direction: column;
}
footer > pre > p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    white-space: initial;
} 
footer > pre > p.segundo {
    margin-top: -3%;
}
footer > pre > p.terceiro {
    text-indent: 4%;
}
footer > pre > p.terceiro > a {
    text-decoration: none;
    color: rgb(23, 74, 4);
}
footer > p.quarto {
    margin-top: 3%;
    margin-left: 3%;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-indent: 5%;
}
footer > pre > ul {
    list-style-position: inside;
    columns: 2;
    white-space: initial;
    margin-bottom: 7%;
}
p.fim {
    background-color: rgb(0, 83, 0);
    color: white;
    text-align: center;
    margin-top: -23%;
    margin-bottom: -1%;
}

